.top-right-corner {
    position: absolute;
    top: 5px;
    right: 5px;
}

.wrapper-catalog {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(190, 210, 209, 0.5);
    display: flex;
    justify-content: center;
    background-attachment: scroll;
    overflow: auto;
}

.catalog {
    width: 820px;
    height: auto;
    position: absolute;
    margin-top: 18px;
    border-radius: 15px;
    box-shadow: 0 0 3px 1px teal;
    background-color: #e3ffff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.title {
    margin: 10px 0 10px 0;
    font-size: 22px;
}

.page-selector-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.page-selector {
    padding: 0 5px
}

.page-selector.selected {
    color: black;
}

.page-selector.selected:hover {
    color: black;
    cursor: default;
}

.dummy {
    padding: 40px;
    font-size: 20px;
}