/*TODO: в других файлах сделать тоже стили изолированные*/
.PCPart_item-container {
    padding-top: 10px;
    width: 350px;
}

.PCPart_head {
    font-size: 25px;
    padding-left: 20px;
}

.PCPart_empty-container, .PCPart_item {
    height: 100px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
}

.PCPart_empty-container {
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 3px 1px gray;
    cursor: pointer;
    transition: transform 0.1s;
}

.PCPart_empty-container:hover {
    box-shadow: 0 0 3px 1px teal;
    transform: scale(1.01, 1.01);
}

.PCPart_empty-item {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    opacity: 50%;
    transition: transform 0.5s;
}

.PCPart_empty-item::after, .PCPart_empty-item::before {
    position: absolute;
    content: '';
    height: 28px;
    width: 4px;
    margin: 4px 0 0 16px;
    background-color: gray;
}

.PCPart_empty-item::before {
    transform: rotate(90deg);
}

.PCPart_empty-container:hover .PCPart_empty-item {
    box-shadow: 0 0 3px 2px teal;
    transform: scale(1.25);
}

.PCPart_empty-container:hover .PCPart_empty-item::before,
.PCPart_empty-container:hover .PCPart_empty-item::after {
    background-color: teal;
}

.PCPart_item {
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 3px 1px teal;
    border-radius: 10px;
}

.PCPart_item:hover {
    box-shadow: 0 0 6px 2px rgba(0, 128, 128, 0.8);
}

.PCPart_item img {
    height: 95px;
    width: 95px;
    padding-left: 5px;
    flex-shrink: 0;
}

.PCPart_right-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
}

.PCPart_right-section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.PCPart_reset-btn {
    margin-right: 2px;
    margin-left: 5px;
}

.PCPart_name {
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.PCPart_price {
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    color: teal;
}

