* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: Arial Narrow, serif;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#title {
  margin: 15px 0 30px 0;
  font-size: 40px;

}

#app {
  display: flex;
  justify-content: center;
  align-items: start;
}

#box {
  font-family: Arial Narrow, serif;
  margin-right: 80px;
}

.result-info {
  max-width: 600px;
  width: 400px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parts-panel {
  max-width: 800px;
  width: 740px;
  min-width: 400px;
  height: 800px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


