* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: Arial Narrow, serif;
}

#title {
  margin: 15px 0 30px 0;
  font-size: 40px;

}

#app {
  display: flex;
  justify-content: center;
  align-items: start;
}

#box {
  font-family: Arial Narrow, serif;
  margin-right: 80px;
}

.parts-panel {
  width: 740px;
  height: 800px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: red 2px solid;
}

.item {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: aqua 1px solid;
}

.item-container {
  padding-top: 5px;
  width: 350px;
}
