.sort-container {
    display: flex;
    width: inherit;
    margin: 5px 0;
    height: 25px;
    align-items: center;
    justify-content: space-around;
}

.sort-button.ascending::after {
    content: '➤';
    transform: rotate(270deg);
    display: inline-block;
    font-size: 15px;
}

.sort-button.descending::after {
    content: '➤';
    transform: rotate(90deg);
    display: inline-block;
    font-size: 15px;
}
